:root {--primary-color:#071E22;
       --secondary-color:#99621E;
       --accent1-color : #5B9279;
       --accent2-color:#FAF3DD;}
h1{color: #071E22;}
P{color: #071E22;}
/* a.socialmedialinks{text-decoration: none;} */
.container {max-width: 960px;
         margin: 0 auto;}
